<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>海南疫情信息动态</title>
    <link rel="stylesheet" type="text/css" href="/home/css/epidemic-trajectory.css" />
</head>
<body>
    {include file='/home/layouts/download'}
    <div class="app">
        <div class="bg-box">
            <img src="/home/image/ncov/ncov.png" alt="">
            <p class="share-num">分享实时数据<br />已有 455万 人关注</p >
        </div>
        <div class="total-box">
            <div class="count-time-box">
                <h3 class="count-time"></h3>
                <a href="/wap/ncovtrack" class="trajectory-btn">实时动态</a>
            </div>
            <ul class="total-list-box">
                <li class="total-list">
                    <p>较昨日<span class="c1 compare_totals_define"></span></p>
                    <h3 class="c1 totals_define"></h3>
                    <h2>确诊</h2>
                </li>
                <li class="total-list">
                    <p>较昨日<span class="c2 compare_totals_doubt"></span></p>
                    <h3 class="c2 totals_doubt"></h3>
                    <h2>疑似</h2>
                </li>
                <li class="total-list">
                    <p>较昨日<span class="c3 compare_totals_criticall"></span></p>
                    <h3 class="c3 totals_criticall"></h3>
                    <h2>重症</h2>
                </li>
                <li class="total-list">
                    <p>较昨日<span class="c4 compare_totals_death"></span></p>
                    <h3 class="c4 totals_death"></h3>
                    <h2>死亡</h2>
                </li>
                <li class="total-list">
                    <p>较昨日<span class="c5 compare_totals_cure"></span></p>
                    <h3 class="c5 none totals_cure"></h3>
                    <h2>治愈</h2>
                </li>
            </ul>
            
            <ul class="epidemic-rex-box hide">
                <li class="epidemic-rex-list">
                    <div class="ico">
                        <img src="/home/image/ncov/i1.png" alt="">
                    </div>
                    <div class="epidemic-rex">病毒：新型冠状病毒 2019-nCoV</div>
                </li>
                <li class="epidemic-rex-list">
                    <div class="ico">
                        <img src="/home/image/ncov/i1.png" alt="">
                    </div>
                    <div class="epidemic-rex">传染源：新冠肺炎的患者。无症状感染者也可能成为传染源。</div>
                </li>
                <li class="epidemic-rex-list">
                    <div class="ico">
                        <img src="/home/image/ncov/i2.png" alt="">
                    </div>
                    <div class="epidemic-rex">传播途径：经呼吸道飞沫、气溶胶传播、接触传播是主要的传播途径。消化道等传播途径尚待明确。</div>
                </li>
                <li class="epidemic-rex-list hide">
                    <div class="ico">
                        <img src="/home/image/ncov/i2.png" alt="">
                    </div>
                    <div class="epidemic-rex">易感人群：人群普遍易感。老年人及有基础疾病者感染后病情较重，儿童及婴幼儿也有发病。</div>
                </li>
                <li class="epidemic-rex-list hide">
                    <div class="ico">
                        <img src="/home/image/ncov/i2.png" alt="">
                    </div>
                    <div class="epidemic-rex">潜伏期：一般为 3～7 天，最长不超过 14 天，潜伏期内可能存在传染性，其中无症状病例传染性非常罕见。</div>
                </li>
                <li class="epidemic-rex-list hide">
                    <div class="ico">
                        <img src="/home/image/ncov/i2.png" alt="">
                    </div>
                    <div class="epidemic-rex">宿主：野生动物，可能为中华菊头蝠。</div>
                </li>
                <li class="open-btn">
                    <img src="/home/image/ncov/zhankai.png" alt="">
                </li>
            </ul>
        </div>

        <div class="area-box">
            <div class="search-box">
                <div class="search">
                    <input type="text" class="search-inp" placeholder="输入 地点/航班/车牌/车次">
                    <div class="search-btn">查询</div>
                </div>
                <h3 class="area-name"></h3>
                <div class="search-tips-box">
                    <p></p>
                    <div class="search-tips-ret">
                        <img src="/home/image/ncov/ret.png" alt="">
                    </div>
                </div>
                <ul class="search-result-box">

                </ul>
                <div class="more">
                    <p class="more-btn">查看更多</p>
                </div>
            </div>
            <ul class="area-list-box">
            </ul>
        </div>
        <div class="tips-box">
            <p class="tips-title">特别提示：以上病例涉及的场所已按照国家有关规范进行消毒处理，调查到的密切接触者已实施医学观察。请公众结合自己的工作生活情况，主动作好健康监测和观察，如与以上病例有过密切接触者，请主动居家隔离留观14天（自接触病例之日计算起），或拨打新冠肺炎防治12345热线进行咨询，医学专家会给您科学指导。</p>
        </div>
        <div class="tips-name">
            <div class="tips left">
                <p>本站内容均来自各媒体,<br />如有侵权和不实,请联系更正</p>
            </div>
            <div class="tips right">
                <p>海南华应科技有限公司</p>
                <p>中国国际救援队</p>
                <p>邮箱：3470312294@qq.com</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/home/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/home/js/echarts.min.js" ></script>
    <script type="text/javascript" src="/home/js/epidemic.js"></script>
    {notempty name="sign"}
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script type="text/javascript">
        wx.config({
            debug: false,
            appId: '{$sign["appid"]}',
            timestamp: '{$sign["timestamp"]}', 
            nonceStr: '{$sign["noncestr"]}', 
            signature: '{$sign["signature"]}',
            jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData', 'onMenuShareAppMessage', 'onMenuShareTimeline']
        });

        wx.ready(function(){
            wx.updateAppMessageShareData({ 
                title: '{$title}',
                desc: '{$desc}',
                link: '{$link}',
                imgUrl: '{$img_url}'
            });
            wx.updateTimelineShareData({ 
                title: '{$title}',
                link: '{$link}',
                imgUrl: '{$img_url}'
            });
        });
    </script>
    {/notempty}
</body>
</html>