<link rel="stylesheet" href="assets/module/formSelects/formSelects-v4.css"/>
<style>
    .layui-table-cell{height: auto;}
</style>
<!-- 正文开始 -->
<div class="layui-fluid" id="order">
    <div class="layui-card">
        <div class="layui-card-body" id="layPhotosTbImg">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input id="userEdtSearch" class="layui-input" type="text" placeholder="订单号搜索"/>
                    </div>
                    <div class="layui-inline">
                        <select name="status" id="status">
                            <option value="">订单状态</option>
                            <option value="0">未支付</option>
                            <option value="3">待平价</option>
                            <option value="4">已完成</option>
                            <option value="-1">退款中</option>
                            <option value="-2">已退款</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">下单时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="date2" id="date2" lay-verify="date2" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="companyBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                        <button id="companyBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>

                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<div class="layui-fluid" id="detail" style="display: none">

    <div class="layui-card">
        <div class="layui-card-body">
            <div><a class="layui-btn icon-btn" href="javascript:location.reload();">返回</a></div>
            <div class="step-region">
                <div class="step-region">
                    <ul class="ui-step ui-step-4">
                        <li >
                            <div class="ui-step-number">1</div>
                            <div class="ui-step-title">买家下单</div>
                            <div class="ui-step-meta">
                            </div>
                        </li>
                        <li  >
                            <div class="ui-step-number">2</div>
                            <div class="ui-step-title">买家付款</div>
                            <div class="ui-step-meta">
                            </div>
                        </li>
                        <li >
                            <div class="ui-step-number">3</div>
                            <div class="ui-step-title">订单完成</div>
                            <div class="ui-step-meta">
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
            <table class="layui-table" lay-even lay-skin="nob">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>订单信息</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>

        </div>
        <div class="layui-card-body">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th width="500px">商品清单</th>
                    <th  width="20px">单价</th>
                    <th  width="10px">数量</th>
                    <th  width="20px">总价</th>
                </tr>
                </thead>
                <tbody id="tbody2">

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="userTableBar">
    <a class="layui-btn layui-btn-xs" lay-event="open">操作</a>

    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">订单详情</a>
</script>

<!-- 显示操作 -->
<script type="text/html" id="open">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">修改订单</li>
            <li>订单备注</li>
            <li>订单记录</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!--     订单修改      -->
                <form id="orderUpdate" lay-filter="orderUpdate" class="layui-form model-form">
                    <input name="id" type="hidden"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">订单号</label>
                        <div class="layui-input-block">
                            <input type="text" value="" id="order_id" class="layui-input" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red;">*</span>商品总价</label>
                        <div class="layui-input-block">
                            <input type="number" name="total_price" placeholder="请输入商品总价" value="" lay-verType="tips" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red;">*</span>原始邮费</label>
                        <div class="layui-input-block">
                            <input type="number" name="total_postage" placeholder="请输入原始邮费" value="" lay-verType="tips" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red;">*</span>实际支付金额</label>
                        <div class="layui-input-block">
                            <input type="number" name="pay_price" placeholder="请输入实际支付金额" value="" lay-verType="tips" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red;">*</span>实际支付邮费</label>
                        <div class="layui-input-block">
                            <input type="number" name="pay_postage" placeholder="请输入实际支付邮费" value="" lay-verType="tips" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item text-right">
                        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
                        <button id="orderUpdateForm" class="layui-btn" lay-filter="orderUpdateForm" lay-submit>提交保存</button>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <!--     订单备注        -->
                <form id="orderMark" lay-filter="orderMark" class="layui-form model-form">
                    <input name="id" type="hidden"/>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="mark" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
                            <button id="orderMarkForm" class="layui-btn" lay-filter="orderMarkForm" lay-submit>提交保存</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item" >
                <!--     订单记录      -->
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>操作记录</th>
                        <th>操作时间</th>
                    </tr>
                    </thead>
                    <tbody id="orderLogs" lay-filter="orderLogs">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<script>
    layui.use(['layer', 'table', 'form', 'layedit', 'config','treetable', 'admin', 'alioss','element','uploadst','laydate', 'util'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var layedit = layui.layedit;
        var config = layui.config;
        var admin = layui.admin;
        var uploadst = layui.uploadst;
        var category = "";
        var util = layui.util;
        var element = layui.element;
        var laydate = layui.laydate;

        element.init();
        // 渲染laydate
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date2'
        });

        //渲染表数据
        var insTb = table.render({
            url: config.base_server + 'order/courseList',
            method: 'post',
            treeColIndex: 1,
            treeSpid: 0,
            headers: {
                'Authorization': 'Bearer ' + config.getToken().access_token
            },
            elem: '#userTable',
            cellMinWidth: 100,
            page: true,
            cols: [[
                {field: 'order_id',width: 100, title: 'ID'},
                {
                    title: '用户信息', width: 200, align: 'center', templet: function (d) {
                        var str = "";
                        if(d.real_name != "")
                            str = '<div>'+d.nickname+'</div><div>'+d.mobile+'</div>';
                        return str;
                    }
                },
                {
                    title: '课程信息', width: 500, align: 'center', templet: function (d) {
                        var str = "";
                        if(d.infos != ""){
                            str += '<img src="'+ d.infos.thumb +'" class="table_img">'+d.infos.title+'|'+d.infos.price;
                        }

                        return str;
                    }
                },
                {field: 'total_price', title: '支付金额'},
                {field: 'pay_type_string', title: '支付方式'},
                {field: 'pay_status_tring', title: '订单状态'},
                {
                    field:'pay_time', title: '支付时间'
                },
                {
                    field:'created_at', title: '下单时间'
                },
                {align: 'center', templet: function (d) {
                        var czHtml= '';
                        czHtml +='<a class="layui-btn layui-btn-xs" lay-event="open">操作</a>';
                        czHtml +='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">订单详情</a>';
                        return czHtml;
                    }, title: '操作', minWidth: 200}
            ]],
            done: function(res, curr, count){
                $('.table_img').on('click', function () {
                    var img = $(this).attr('src');
                    layer.photos({
                        photos: { "data": [{"src": img}]}
                        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                    });
                })
            }
        });

        setTimeout(function(){
            form.render('select');
        }, 1000);

        // 搜索按钮点击事件
        $('#companyBtnSearch').click(function () {
            var value = $('#userEdtSearch').val();
            var status = $('#status').val();
            var data = $('#date').val();
            var data2 = $('#date2').val();
            insTb.reload({where: {order_id: value,status:status,start_at:data,end_at:data2}});
        });

        // 添加按钮点击事件
        if(!admin.hasPerm('course:save')){
            $("#companyBtnAdd").remove();
        }
        else
        {
            $('#companyBtnAdd').click(function () {
                showEditModel();
            });
        }

        // 工具条点击事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            }else if(layEvent === 'course.html'){//订单详情
                orderDetail(data);
                $('#order').css('display','none');
                $('#detail').css('display','block');
            }else if(layEvent === 'open'){
                showOpen(data);
            } else if (layEvent === 'del') {  // 删除
                layer.confirm('确定要删除吗？', {
                    skin: 'layui-layer-admin'
                }, function (i) {
                    layer.close(i);
                    layer.load(2);
                    admin.req('course/delete', {
                        id: data.id
                    }, function (res) {
                        layer.closeAll('loading');
                        if (res.code == 200) {
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload();
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }, 'post');
                });
            }
        });
        //订单详情显示
        function orderDetail(data) {
            var li =  $('.ui-step-4').find('li');
            if(data.add_time>0){
                li.eq(0).attr('class','ui-step-done');
                li.eq(0).find('.ui-step-meta').html(util.toDateString(data.created_at*1000));
            };
            if(data.paid>0){
                li.eq(1).attr('class','ui-step-done')
                li.eq(1).find('.ui-step-meta').html(util.toDateString(data.pay_time*1000));
            } ;
            if(data.status>=2){
                li.eq(3).attr('class','ui-step-done');
                li.eq(3).find('.ui-step-meta').html(util.toDateString(data.finish_time*1000));
            };
            var tbodyHtml = '    <tr>\n' +
                '                    <td>订单编号: '+data.order_id+'</td>\n' +
                '                    <td>商品数量: '+data.total_num+'</td>\n' +
                '                    <td>下单时间: '+util.toDateString(data.add_time*1000)+'</td>\n' +
                '                    <td>用户备注:'+data.remark+'</td>\n' +
                '                    <td>订单备注:'+data.mark+' <a class="updateO" style="color: #44abf7 !important"> 修改</a></td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>订单状态: <span style="color: #21b9bb">'+data.pay_status_tring+'</span></td>\n' +
                '                    <td>商品总价: ￥'+data.total_price+'</td>\n' +
                '                    <td>支付时间:'+util.toDateString(data.pay_time*1000)+'</td>\n' +
                '                    <td>联系电话: '+data.user_phone+'</td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>付款方式: '+data.pay_type_string+'</td>\n' +
                '                    <td>支付邮费: '+data.total_postage+'</td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>买家: 真是亮哦</td>\n' +
                '                    <td>实际支付: ￥'+data.pay_price+'</td>\n' +
                '                    <td>完成时间:'+util.toDateString(data.finish_time*1000)+'</td>\n' +
                '                </tr>'
            $('#tbody').html(tbodyHtml);

            var tbodyHtml2 = '';
            $.each(data.infos,function (i,e) {
                tbodyHtml2 += '    <tr>\n' +
                    '                    <td>'+e.productInfo.store_name+'</td>\n' +
                    '                    <td>'+e.productInfo.price+'</td>\n' +
                    '                    <td>'+e.cart_num+'</td>\n' +
                    '                    <td>'+e.truePrice+'</td>\n' +
                    '                </tr>\n'
            })
            tbodyHtml2 += '<tr>\n' +
                ' <td></td>\n' +
                ' <td></td>\n' +
                ' <td></td>\n' +
                ' <td>￥'+data.total_postage+'</td>\n' +
                ' </tr>\n'
            tbodyHtml2 += '<tr>\n' +
                ' <td></td>\n' +
                ' <td></td>\n' +
                ' <td></td>\n' +
                ' <td>￥'+data.total_price+'</td>\n' +
                ' </tr>\n'
            tbodyHtml2 += '<tr>\n' +
                ' <td></td>\n' +
                ' <td></td>\n' +
                ' <td><a class="layui-btn layui-btn-radius updateO" >修改订单</a></td>\n' +
                ' <td><button class="layui-btn layui-btn-radius layui-btn-normal" >订单记录</button></td>\n' +
                ' </tr>\n'
            $('#tbody2').html(tbodyHtml2);
            $('.updateO').click(function () {
                showOpen(data);
            })
        }

        //显示操作页面
        function showOpen(data) {
            admin.open({
                type: 1,
                title: '操作',
                area: ['900px', '620px'],
                content: $('#open').html(),
                success: function (layero, dIndex) {
                    // 回显数据
                    $("#order_id").val([data.order_id]);
                    $("input[name='total_price']").val([data.total_price]);
                    $("input[name='total_postage']").val([data.total_postage]);
                    $("input[name='pay_price']").val([data.pay_price]);
                    $("input[name='pay_postage']").val([data.pay_postage]);

                    form.val('orderUpdate', data);

                    $("input[name='mark']").val([data.mark]);
                    form.val('orderMark', data);

                    var logsHtml = '';
                    $.each(data.orderLogs,function (i,e) {
                        logsHtml += '<tr>';
                        logsHtml +='<td>'+e.id+'</td>' +
                            '<td>'+e.change_message+'</td>' +
                            '<td>'+util.toDateString(e.created_at*1000)+'</td>'
                        logsHtml +='</tr>';
                    })
                    $('#orderLogs').html(logsHtml)

                    // 表单提交事件
                    form.on('submit(orderUpdateForm)', function (data) {
                        admin.req('order/update', data.field, function (res) {
                            layer.closeAll('loading');
                            if (res.code == 200) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload();
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'post');
                        return false;
                    });

                    // 修改备注
                    form.on('submit(orderMarkForm)', function (data) {
                        admin.req('order/updateMark', data.field, function (res) {
                            layer.closeAll('loading');
                            if (res.code == 200) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload();
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'post');
                        return false;
                    });
                }
            });
        }
    });
</script>