<link rel="stylesheet" href="assets/module/formSelects/formSelects-v4.css"/>
<style>
    .layui-table-cell{height: auto;}
</style>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" id="layPhotosTbImg">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button id="carouselBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表单弹窗 -->
<script type="text/html" id="modelUser">
    <form id="modelUserForm" lay-filter="modelUserForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">导师昵称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入导师昵称,最多20个字" value=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                <textarea id="content" name="content" style="display: none;"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button id="btnSave" class="layui-btn" lay-filter="navSave" lay-submit>提交保存</button>
        </div>
    </form>
</script>
<script>

    layui.use(['layer', 'table', 'form', 'layedit', 'util', 'config', 'admin','laydate', 'CKEDITOR'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var config = layui.config;
        var admin = layui.admin;
        var laydate = layui.laydate;
        var ckeditor = layui.CKEDITOR;

        // 渲染表格
        var insTb = table.render({
            elem: '#userTable',
            url: config.base_server + 'main/teacher/list',
            method: 'post',
            where: {
                // access_token: config.getToken().access_token
            },
            headers: {
                'Authorization': 'Bearer ' + config.getToken().access_token
            },
            page: true,
            cellMinWidth: 100,
            cols: [[
                {field: 'id',title:'导师id',width: 100},
                {field: 'name', title: '导师名称'},
                {align: 'center', templet: function () {
                        var str = '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>\n' +
                            // '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="isShow">下架展示</a>'+
                            '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                        return str;
                    }, title: '操作', width: 150}
            ]],
            done: function(res, curr, count){
                if(!admin.hasPerm('main:livenav:update')){
                    $("a[lay-event='edit']").remove();
                }
                if(!admin.hasPerm('main:livenav:delete')){
                    $("a[lay-event='del']").remove();
                }

                layer.photos({
                    photos: '#layPhotosTbImg',
                    shade: .1,
                    closeBtn: true
                });
            }
        });


        // 添加按钮点击事件
        if(!admin.hasPerm('main:teacher:save')){
            $("#carouselBtnAdd").remove();
        }
        else
        {
            $('#carouselBtnAdd').click(function () {
                showEditModel();
            });
        }

        // 搜索按钮点击事件
        $('#carouselBtnSearch').click(function () {
            var value = $('#userEdtSearch').val();
            var class_id = $('#class_id').val();
            insTb.reload({where: {search: value, class_id: class_id}});
        });

        // 工具条点击事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'del') {  // 删除
                layer.confirm('确定要删除吗？', {
                    skin: 'layui-layer-admin'
                }, function (i) {
                    layer.close(i);
                    layer.load(2);
                    admin.req('main/teacher/delete', {
                        id: data.id
                    }, function (res) {
                        layer.closeAll('loading');
                        if (res.code == 200) {
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload();
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }, 'post');
                });
            }
        });
        // 显示表单弹窗
        function showEditModel(data) {
            admin.open({
                type: 1,
                title: (data ? '修改' : '添加') + '直播导航',
                area: '1000px',
                content: $('#modelUser').html(),
                success: function (layero, dIndex) {
                    if(!admin.hasPerm('main:teacher:save') && !admin.hasPerm('main:teacher:update')){
                        $("#btnSave").remove();
                    }

                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    var url = data ? 'main/teacher/update' : 'main/teacher/save';

                    //富文本
                    ckeditor.replace('content', {
                        baseFloatZIndex: 19901015,
                        height: 400,
                        filebrowserImageUploadUrl: config.base_server + 'uploade/ckeditor/image?token=' + config.getToken().access_token,
                        filebrowserUploadUrl: config.base_server + 'uploade/ckeditor/file?token=' + config.getToken().access_token
                    });

                    var insEdt = ckeditor.instances.content;

                    // 回显数据
                    if (data) {
                        insEdt.setData(data.description)
                        form.val('modelUserForm', data);
                    }else{
                        form.render('select');
                    }


                    // 表单提交事件
                    form.on('submit(navSave)', function (data) {
                        data.field.content = insEdt.getData();
                        admin.req(url, data.field, function (res) {

                            if (res.code == 200) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload();
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'post');
                        return false;
                    });
                }
            });
        };
    });
</script>